markdown_ext: .md
base_url: /
site_dir: /var/www/karlbarker.co.uk
# Refer to http://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
date_format: %m/%d/%Y
math_delimiter: $
# Common metadata
blog_title: Karl's Blog
blog_author: Karl Barker
blog_bio: Karl Barker's Blog
twitter_username: thoughtress
github_username: tomtkarl
post_footer: This is the post footer
